@charset "Shift_JIS"; /* 文字エンコードの設定（削除不可） */
/* ==================================
	沼森 http://ratri.6.ql.bz/
	template 19
===================================*/
@media screen
{ 
/*--------------------------------------------------------------
	カスタマイズ
----------------------------------------------------------------*/

#PAGETOP{

	/* 寄せ位置 */
	margin-left: auto;
	margin-right: 5%;

	 /* 背景画像URL */
	/* 023-2.jpg 配布元：http://november-queen.com/ */
	background-image: url(nmmr19/023-2.jpg);

	 /* 幅 */
	width: 440px;
}


/*--------------------------------------------------------------
	要素
----------------------------------------------------------------*/

*	{ font-size: 100%; }

/* 罫線 */
hr	{ display: none; margin: 2em 10%;  }
div.text hr	{
	display: block; 
	border: dashed #555; border-width: 1px 0 0;
	background: #000;
	}

/* 強制改行 */
br	{ letter-spacing: normal; }

/* 見出し */
h1,h2,h3,h4,h5,h6	{ padding: .1em 0; color: #EEEEEE; font-weight: 700; line-height: 1.25; }
h1	{ margin: 0; color: #FFFFFF; font-size: 1.2em; }
h2	{ margin: 1em 0 .3em; font-size: 1.2em; }
h3	{ margin: 2em 0 1em .5em; padding-left: .5em; border-left: 1px solid #EEEEEE; font-size: 1.1em; }
h4	{ margin: 2em 0 1em 2em; padding-left: .5em; border-left: 1px dotted #EEEEEE; }
h5	{ margin: 1.8em 0 1em; } 
h6	{ margin: 1.5em 0 1em 5em; text-align: right; }

/* アンカー */
a:link	{ color: #D3B986; }
a:visited	{ color: #D690F4; }
a:hover	{ color: #CCCCCC; }
a:focus	{ color: #CCCCCC; }
a:active	{ color: #A54A51; }

/* 強調・追加・削除 */
em,
strong	{ 
	margin-left: .2em;
	font-style: normal;
	font-weight: bold;
	letter-spacing: .2em;
	}
code em,
code strong{ margin: 0; letter-spacing: 0; }
strong	{ color: #A54A51; }
ins	{  }
del	{  }
div>ins,
div>del	{ display: block; }
div>ins	{ 
	margin: 1.5em 0; 
	padding:  .2em 2%;
	border: 1px solid #666666; 	text-decoration: none;
	}
div>ins:before{ 
	content: "\300a\8ffd\8a18\300b";
	display: block;
	border-bottom: 1px dotted #999999;
	color: #999999;
	}

/* フォーム */
form	{ }
li form	{ display: inline; margin: 0; padding: 0; border: none; background: transparent none; }
fieldset	{ padding: 0; border: none;  }
legend	{ color: #D192D9; }

label	{  }

input,textarea,select,button{ margin: .1em; vertical-align: text-bottom; }

input	{  }
	input[type="text"]	{  }
	input[type="checkbox"],input[type="radio"],
	input[type="button"],input[type="submit"],
	input[type="reset"], input[type="image"]{ cursor: pointer; }

textarea	{  }
select	{  }
option	{  }
optgroup	{  }

/* ボタン */
button	{  }
	button[type="button"]	{  }
	button[type="submit"]	{  }
	button[type="reset"]	{  }

/* リスト */
ol,ul	{ margin-left: 0; padding-left: 0; }
li	{ margin-left: 2em; padding-left: 0; }
dl	{  }
dt	{  }
dd	{ padding-top: .2em; padding-bottom: .2em; }

/* アドレス */
address	{  }
li address	{ display: inline; margin: 0; padding: 0; border: none; background: transparent none; }

/* テーブル */
table	{ margin: .5em 0;  border: 1px solid #DDDDDD; background: #FFFFFF; color: #000000; }
caption	{  }
thead	{  }
tbody	{  }
tfoot	{  }
tr	{  }
	thead tr	{  }
	tbody tr	{  }
	tfoot tr	{  }
th,
td	{ vertical-align: top; padding: .4em .5em;}
th	{ background: #E8F6FF; color: #000000; }
	thead th	{  }
	tbody th	{  }
	tfoot th	{  }
	thead td	{  }
	tbody td	{  }
	tfoot td	{  }

/* 画像 */
img	{ border: none; vertical-align: text-bottom; }
a:link img	{ border: 1px solid #333; }
a:visited img	{ border: 1px solid #DDDDDD; }

/* 引用 */
q,
blockquote	{ color: #167F5E; font-style: normal; }
blockquote	{
	margin-left: 3em; margin-right: 0;
	padding: .25em 2%;
	border: 1px dotted #167F5E; 
	border-left: 3px solid; 
	}
blockquote:before	{
	content: "\300a\5f15\7528\300b";
	display: block;
	margin-bottom: .2em;
	border-bottom: 1px dotted #999999;
	color: #999999;
	}
blockquote[title]:before{
	content: "\300a\5f15\7528\300b" attr(title);
	}
q	{ border-bottom: 1px dotted #167F5E; }
q q	{ border-bottom: none; }

/* 参照元 */
cite	{ color: #167F5E; font-style: normal; }

/* 整形済みテキスト */
pre	{ clear: both; padding: 1%; background: #333333; color: #CCCCCC; overflow: auto; }
* html pre	{ width: 95%; }

/* コード・出力サンプル */
code	{ font-family: "Monaco", "Consolas", "Courier New",monospace; }
samp	{  }

/* キーボード */
kbd	{ margin: 0 .1em; color: #DF7F2A; font-style: normal; }

/* 変数・置き換え可能語 */
var	{ margin-right: .25em; font-style: italic; }

/* 定義語 */
dfn	{ font-style: normal; font-weight: bold; }

/* 省略語 */
abbr, acronym	{ cursor: help; }

/* 書字方向指定 */
bdo	{  }

/* インラインフレーム */
iframe	{  }

/* オブジェクト */
object	{  }

/* ノースクリプト */
body noscript	{  }

/* ノーフレーム */
body noframes	{  }

/* 上付き文字・下付き文字 */
sup	{  }
sub	{  }

/* その他物理要素 */
b	{ font-weight:bold; }
i	{ font-style:italic; }
big	{ font-size: larger; }
small	{ font-size: smaller; }
tt	{  }

/*--------------------------------------------------------------
	レイアウト
----------------------------------------------------------------*/
html,
body{
	margin: 0;
	padding: 0;
	}

body{ 
	background: #AAAAAA;
	color: #000000;
	font-size: small;
	font-family: Verdana, Osaka, 'ＭＳ Ｐゴシック', Sans-serif;
	line-height: 1.6;
	}

#PAGETOP{ 
	padding: 1em 1.5%;
	background-color: #000000;
	background-repeat: no-repeat;
	background-position : 100% 0;
	box-shadow: 0 0 2px rgba(0,0,0,.5);
	color: #AAAAAA;
	}

#PAN,
#PAN li{
	list-style: none;
	margin: 0;
	padding: 0;
	color: #999999;
	}

#PAN li{
	display: inline;
	margin-left: .5em;
	}

#PAN li+li{
	padding-left: 15px;
	background: url(nmmr19/arrow.png) no-repeat 0 50%;
	}

#MENU	{
	padding: 1.5em 0
	}

#MENU h2{ display:none; }
#MENU ul{
	margin: .2em 0;
	}

#MENU01,#MENU02,#MENU03,#MENU04,
#MENU05,#MENU06,#MENU07,#MENU08{
	list-style-type: none;
	display: block; 
	margin: 0;
	padding: .25em 1% .25em 15px;
	background: url(nmmr19/arrow.png) no-repeat 0 50%;
	letter-spacing: .5em;
	}

#MENU ul a{ 
	text-decoration: none;
	}

#MENU ul a:hover,
#MENU ul a:focus{
	padding-left: 3px;
	}

li.menu-on a{
	color: #AAAAAA;
	text-decoration: none;
	cursor: default;
	pointer-events: none;
	}

#KIZI{
	padding: 1px 2.5%;
	border: 1px dotted #555555;
	background: #000000; /* IE6 */
	}

#PAGETOP>#KIZI{
	background: transparent url(nmmr19/bg.png); /* IE6以上 */
	}

div.text{ 
	padding: 0 .5em;	 }

ul.modori{
	list-style: none;
	text-align: right; 
	}

#FOOTER{  }
#FOOTER h2{ display: none; }
#FOOTER ul{  }
#FOOTER01,#FOOTER02,#FOOTER03,#FOOTER04,
#FOOTER05,#FOOTER06,#FOOTER07,#FOOTER08
	{
	display: inline;
	margin: 0;
	padding: 0 .2em;
	}

/*--------------------------------------------------------------*/
}
/*--------------------------------------------------------------
	iPhone
----------------------------------------------------------------*/
@media screen and (max-width: 480px)
{
#HEADER,
#PAN,
#MENU,
#KIZI,
#FOOTER{ float: none; min-width: 0; width: auto; margin: 0; }
}
