/* :::::: contents :::::: */
 
#wrapper {
  overflow: hidden;
  min-width: 320px;
  height: auto;
  padding: 0;
}
 
.contents {
  -webkit-transition: -webkit-transform .6s;
  transition: transform .6s;
}
 
#navTgl:checked ~ .contents {
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
}
 
/* :::::: toggle button :::::: */
 
#navTgl {
  display: none;
  overflow: hidden;
}
 
label.open {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
}

label.close {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
}
 
.open {
  z-index: 2;
  width: 50px;
  height: 50px;
  color: white;
  background-color: lightSeaGreen;
  font-size: 2em;
  line-height: 50px;
  text-align: center;
  -webkit-transition: background-color .6s, -webkit-transform .6s;
  transition: background-color .6s, transform .6s;
}
 
#navTgl:checked + .open {
  background-color: indianRed;
  -webkit-transform: translateX(250px);
  transform: translateX(250px);
}
 
.close {
  pointer-events: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: background-color .6s;
}
 
#navTgl:checked ~ .close {
  pointer-events: auto;
  background-color: rgba(0,0,0,.3);
}
 
/* :::::: drawer menu :::::: */
 
.menu {
  z-index: 1;
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  padding: 10px;
  background-color: rgba(0,0,0,.6);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform .6s;
  transition: transform .6s;
}
 
#navTgl:checked ~ .menu {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
 
.menu h2,
.menu li form label {
  color: white;
}
 
.menu h2 {
  text-align: center;
}
 
.menu ul,
header nav ul {
  padding: 0;
}
 
.menu li {
  border-bottom: 1px solid rgba(255,255,255,.6);
  font-size: .8em;
  line-height: 1.4;
}
 
.menu li:first-child {
  border-top: 1px solid rgba(255,255,255,.6);
}
 
.menu li form label,
header nav li form label {
  display: block;
  padding: 1em 2em;
  text-decoration: none;
  transition: background-color .6s;
}
 
.menu li form label:hover {
  background-color: black;
}

.none {
  display: none;
  overflow: hidden;
}

.menuButton {
  color: white;
  background-color: rgba(0,0,0,0);
  border-style: solid;
  border-color: rgba(255,255,255,.6);
  border-width: 1px;
  font-size: .8em;
  padding: 10px 30px;
  transition: background-color .6s;
}

.menuButton:hover {
  color: white;
  background-color: black;
}

label.beacon {
  height: 25px;
  width: 25px;
  color: white;
  background-color: skyblue;
  font-size: 2em;
  line-height: 25px;
  text-align: center;
  cursor: pointer;
  position: fixed;
}