@charset "Shift_JIS"; /* 文字エンコードの設定（削除不可） */
/* ==================================
	沼森 http://ratri.6.ql.bz/
	template 11
===================================*/
@media screen
{ 

#PAGETOP{
	max-width: 680px; /* 最大幅 */
	}

#MENU{	
	/* 画像横幅 */
	padding-left: 370px;

	/* 画像 */
	/* 005-1.jpg 配布元：http://november-queen.com/ */
	background: #000000 url(nmmr11/005-1.jpg) no-repeat 0 50%;
	}

/*--------------------------------------------------------------
	要素
----------------------------------------------------------------*/

*	{ font-size: 100%; }

/* 罫線 */
hr	{ display: none; margin: 2em 10%;  }
div.text hr	{
	display: block; 
	border: dashed #999999; border-width: 1px 0 0;
	background-color: rgba(0,0,0,.6);
	height: 1px;
	}

/* 強制改行 */
br	{ letter-spacing: normal; }

/* 見出し */
h1,h2,h3,h4,h5,h6	{ margin: 2em 0 1em; padding: .05em 1.5%; line-height: 1.25; color: #DEBEC9;
	font-weight: normal; font-family: "Century Gothic", Helvetica, Arial, Meiryo, "ＭＳ Ｐゴシック", Sans-serif; }
h1	{ margin: 0;  font-size: 1.35em; letter-spacing: .1em; }
h2	{ padding: 0; letter-spacing: .3em;  font-size: 1.35em; }
h2:before	{ content: "-"; }
h3,h4,h5	{ border-color: #DEBEC9; }
h3	{ border-width: 0 0 0 3px; border-style:  solid; font-size: 1.2em;  }
h4	{ padding-left: 3%; border-width: 0 0 1px; border-style: solid; font-size: 1.1em; }
h5	{ padding-left: 6%; border-width: 0 0 1px; border-style: dotted; }
h6	{ padding-left: 10%; padding-right: 10%; text-align: right; }

/* アンカー */
a:link	{ color: #ABB3DF; }
a:visited	{ color: #C0A1C4; }
a:hover	{ color: #FFFFFF; }
a:focus	{ color: #FFFFFF; }
a:active	{ color: #F15518; }

/* 強調・追加・削除 */
em,
strong	{ 
	margin-left: .2em;
	font-style: normal;
	font-weight: bold;
	letter-spacing: .2em;
	}
code em,
code strong{ margin: 0; letter-spacing: 0; }
em	{ border-bottom: 1px dotted #F7BFFF; }
strong	{ color: #F7BFFF; border-bottom: 2px dotted #F7BFFF;}
ins	{  }
del	{  }
div>ins,
div>del	{ display: block; }
div>ins	{ 
	margin: 1.5em 0; 
	padding:  .2em 2%;
	border: 1px solid #5F6E8A; 	text-decoration: none;
	}
div>ins:before{ 
	content: "\300a\8ffd\8a18\300b";
	display: block;
	margin-bottom: .25em;
	border-bottom: 1px dotted #5F6E8A;
	color: #5F6E8A;
	}

/* フォーム */
form	{ }
li form	{
  color: white;
  background-color: rgba(0,0,0,0);
  border-style: solid;
  border-color: rgba(255,255,255,.6);
  border-width: 1px;
  font-size: .8em;
  padding: 10px 30px;
  transition: background-color .6s;
}

li form:hover {
  color: white;
  background-color: black;
}

fieldset	{ margin: 0 0 .5em; padding: .7em 2%; border: 1px dotted #34475B;  }
legend	{ }

label	{  }

input,textarea,select,button{
  color: white;
  background-color: rgba(0,0,0,0);
  border-style: solid;
  border-color: rgba(255,255,255,.6);
  border-width: 1px;
  transition: background-color .6s;
}

input:hover,textarea:hover,select:hover,button:hover {
  color: white;
  background-color: black;
}


input	{  }
	input[type="text"]	{  }
	input[type="checkbox"],input[type="radio"],
	input[type="button"],input[type="submit"],
	input[type="reset"], input[type="image"]{ cursor: pointer; }
	input[type="button"],input[type="submit"]{ 

	}

textarea	{  }
select	{  }
option	{  }
optgroup	{  }

form p,form ol, form ul,form dl{ margin: .2em 0;}

/* ボタン */
button	{  }
	button[type="button"]	{  }
	button[type="submit"]	{  }
	button[type="reset"]	{  }

/* リスト */
ol,ul	{ margin-left: 0; padding-left: 0; }
li	{ margin-left: 2em; padding-left: 0; text-align: left; }
dl	{  }
dt	{  }
dd	{ margin: 0.3em 0 1em 3em; padding: .4em 1em; border: 1px dotted #5F6E8A; }

/* アドレス */
address	{  }
li address	{ display: inline; margin: 0; padding: 0; border: none; background: transparent none; }

/* テーブル */
table	{ border-collapse: collapse; }
caption	{  }
thead	{ background-color: rgba(0,0,0,.6); }
tbody	{  }
tfoot	{ background-color: rgba(0,0,0,.6); }
tr	{  }
	thead tr	{  }
	tbody tr	{  }
	tfoot tr	{  }
th,
td	{ vertical-align: top; padding: .2em .5em; border: 1px solid rgba(255,255,255,.6); }
	thead th	{  }
	tbody th	{  }
	tfoot th	{  }
	thead td	{  }
	tbody td	{  }
	tfoot td	{  }

/* 画像 */
img	{ border: none; vertical-align: text-bottom; }
a:link img	{ border: 1px solid #333; }
a:visited img	{ border: 1px solid #DDDDDD; }

/* 引用 */
q,
blockquote	{ color: #B5EF8A; font-style: normal; }
blockquote	{
	margin-left: 3em; margin-right: 0;
	padding: .25em 2%;
	border: 1px dotted #B5EF8A; 
	border-left: 3px solid; 
	}
blockquote:before	{
	content: "\300a\5f15\7528\300b";
	display: block;
	margin-bottom: .2em;
	border-bottom: 1px dotted #999999;
	color: #999999;
	}
blockquote[title]:before{
	content: "\300a\5f15\7528\300b" attr(title);
	}
q	{ border-bottom: 1px dotted #B5EF8A; }
q q	{ border-bottom: none; }

/* 参照元 */
cite	{ color: #B5EF8A; font-style: normal; }

/* 整形済みテキスト */
pre	{ clear: both; padding: 1%; background: #444444; color: #CCCCCC; overflow: auto; }
* html pre	{ width: 95%; }

/* コード・出力サンプル */
code	{ font-family: "Monaco", "Consolas", "Courier New",monospace; }
samp	{  }

/* キーボード */
kbd	{ margin: 0 .1em; color: #DF7F2A; font-style: normal; }

/* 変数・置き換え可能語 */
var	{ margin-right: .25em; font-style: italic; }

/* 定義語 */
dfn	{ font-style: normal; font-weight: bold; }

/* 省略語 */
abbr, acronym	{ cursor: help; }

/* 書字方向指定 */
bdo	{  }

/* インラインフレーム */
iframe	{  }

/* オブジェクト */
object	{  }

/* ノースクリプト */
body noscript	{  }

/* ノーフレーム */
body noframes	{  }

/* 上付き文字・下付き文字 */
sup	{  }
sub	{  }

/* その他物理要素 */
b	{ font-weight:bold; }
i	{ font-style:italic; }
big	{ font-size: larger; }
small	{ font-size: smaller; }
tt	{  }

/*--------------------------------------------------------------
	レイアウト
----------------------------------------------------------------*/
html,
body{
	margin: 0;
	padding: 0;
	}

body{ 
	margin: 0 2%;
	line-height: 1.6;
	background-color: rgba(0,0,0,.6);
	font-size: small;
	}

#PAGETOP{
	margin: 2% auto;
	}

#HEADER	{
	padding-bottom: 10px; 
	border-bottom: 1px solid #000000;
	}
#HEADER h1,
#PAN,
#PAN li{
	display: inline;
	margin: 0;
	padding: 0;
	}
#PAN li{
	display: inline;
	margin: 0 0 .5em 0;
	padding-left: .5em;
	border-left: 1px dotted #CCCCCC;
	font-family: "Courier new", Courier, Meiryo, Sans-serif;
	}

#MENU{	
	margin: 3px auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	}
#MENU ul{ margin: 0;  }
#MENU h2{ display: none; }
#MENU01,#MENU02,#MENU03,#MENU04,
#MENU05,#MENU06,#MENU07,#MENU08{
	list-style: inside circle;
	margin: 0;
	padding: .2em 0;
	color: #DEBEC9;
	border-top: 1px dotted #555555;
	font-family: "Centry Gothic", Helvetica, Arial, Meiryo, Sans-serif;
	}
#MENU01{ border: none; }
li.menu-on a{
	color: #AAAAAA;
	text-decoration: none;
	cursor: default;
	pointer-events: none;
	}

#KIZI{
	border-top: 1px solid #000000; 
	}
div.text{ 
	margin: 0 1%;
	}
ul.modori{
	list-style: none;
	text-align: right; 
	}
ul.modori li{
	display: inline;
	}

#FOOTER{  }
#FOOTER h2{ display: none; }
#FOOTER ul{ text-align: center; }
#FOOTER01,#FOOTER02,#FOOTER03,#FOOTER04,
#FOOTER05,#FOOTER06,#FOOTER07,#FOOTER08
	{
	display: inline;
	margin: 0;
	padding: 0 .2em;
	}

/*--------------------------------------------------------------*/
}
/*--------------------------------------------------------------
	iPhone
----------------------------------------------------------------*/
@media screen and (max-width: 480px)
{
#HEADER,
#PAN,
#MENU,
#KIZI,
#FOOTER{ float: none; min-width: 0; width: auto; margin: 0; }
#MENU{ padding: 10px 10px 10px 40%; }
#MENU ul{ padding: 15px; background: rgba(0,0,0,.5); border: 1px dotted  #666666; }
}
