@charset "Shift_JIS";
@media screen{

/* ********************************************** */
 /* カスタマイズ項目 */
 
	/* 横幅 */
	div#PAGETOP
		{
		width: 90%;
		max-width: 1000px;
		}

	 /* 背景 */
	 body
	 	{
		background-image: url(img/bg.gif);
		}

	 /* 右上画像 */
	div#MENU h2
		{
		padding-bottom: 200px;
		background-image: url(img/bamboo.gif);
		}

/* ********************************************** */
/* 全体 */

	html
		{
		margin: 0;
		padding: 0;
		}
	body
		{
		margin: 0;
		padding: 100px 0 40px;
		background-color: #fff;
		background-repeat: no-repeat;
		background-position: left top;
		color: #333;
		font: medium/1.4 Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", "ＭＳ Ｐゴシック", Sans-serif;
		}

/* ********************************************** */
/* 見出し */

	h1, h2, h3, h4, h5, h6
		{
		margin: 1em 20px 0.4em;
		font-weight: bold;
		}
	h1
		{
		margin: 0;
		padding-left: 25px;
		background: #030 url(img/border_l.gif) repeat-y left top;
		color: #eee;
		font-size: medium;
		}
	h2
		{
		font-size: x-large;
		}
	h3
		{
		margin: 0 0 0.4em;
		padding: 0 20px;
		background: #363 url(img/h3.gif) no-repeat right top;
		color: #eee;
		font-size: large;
		}
	h4
		{
		padding-left: 5px;
		border-left: 3px solid #696;
		border-bottom: 1px #ccc solid;
		color: #363;
		font-size: large;
		}
	h5
		{
		margin-left: 2em;
		padding-left: 5px;
		border-left: 3px solid #9c9;
		color: #363;
		font-size: large;
		}
	h6
		{
		margin-left: 4em;
		padding-left: 5px;
		border-left: 3px solid #9c9;
		color: #696;
		font-size: medium;
		}

/* ********************************************** */
/* ブロック要素 */

	p, ol, ul, dl, address, blockquote, pre, form, table, hr
		{
		margin: 0.8em 20px;
		padding: 0;
		}

	/* リスト */
	li
		{
		list-style-position: outside;
		margin-left: 2em;
		}
	ol li
		{
		list-style-type: decimal;
		}
	li ol li
		{
		list-style-type: lower-roman;
		}
	ul li
		{
		list-style-type: disc;
		}
	li ul li
		{
		list-style-type: circle;
		}
	dt
		{
		padding: 0 5px;
		border-left: 2px solid #9c9;
		border-bottom: 1px solid #ddd;
		}
	dd
		{
		margin: 0.2em 0 0.2em 1em;
		padding-left: 7px;
		}
	li ol, dd ol, li ul, dd ul, li dl, dd dl
		{
		margin: 0;
		}

	/* アドレス */
	address
		{
		padding: 5px 5px 5px 26px;
		border: 1px solid #ddd;
		background: url(img/address.gif) no-repeat 5px center;
		font-style: normal;
		}
	li address, dd address
		{
		display: inline;
		margin: 0;
		padding: 0 0 0 21px;
		border: 0;
		background-position: left center;
		}

	/* 引用 */
	blockquote
		{
		padding: 1.2em 1em;
		border: 1px solid #ccc;
		background-color: #fcfcfc;
		}
		blockquote:before
			{
			content: "引用";
			color: #ccc;
			font-weight: bold;
			font-size: x-large;
			}

	/* 整形済みテキスト */
	pre
		{
		overflow: auto;
		width: 85%;
		padding: 1em;
		border: 1px solid #ccc;
		background-color: #ddd;
		}

	/* 罫線 */
	hr,
	div#PAGETOP div.text hr
		{
		display: block;
		border: 1px solid #ccc;
		background-color: #ccc;
		color: #ccc;
		}

/* ********************************************** */
/* インライン要素 */

	/* アンカー */	
	a
		{
		text-decoration: underline;
		}
		a:link
			{
			color: #369;
			}
		a:visited
			{
			color: #969;
			}
		a:hover,
		a:active,
		a:focus
			{
			color: #696;
			}

	/* 改行 */
	br
		{
		letter-spacing: normal;
		}

	/* 強調 */
	em
		{
		color: #963;
		font-style: normal;
		font-weight: bold;
		}
	strong
		{
		border-bottom: 3px double #696;
		color: #c93;
		font-weight: bold;
		}

	/* 追加・削除 */
	ins
		{
		border: 1px solid #ccc;
		background-color: #eee;
		text-decoration: none;
		}
	del
		{
		text-decoration: line-through;
		color: #666;
		}

	/* 引用 */
	q
		{
		border: 1px solid #ccc;
		background-color: #fcfcfc;
		}

	/* 参照元 */
	cite
		{
		border-bottom: 2px solid #ddd;
		font-style: normal;
		}

	/* 画像 */
	img
		{
		border: 0;
		}
	a img
		{
		border-width: 2px;
		border-style: solid;
		}

	/* 物理要素 */
	b
		{
		font-weight: bold;
		}
	i
		{
		font-style: italic;
		}
	big
		{
		font-size: larger;
		}
	small
		{
		font-size: smaller;
		}
	tt
		{
		font-family: monospace;
		}

	/* その他 */
	code
		{
		margin: 0 5px;
		color: #363;
		}
	samp
		{
		margin: 0 5px;
		}
	kbd
		{
		margin: 0 5px;
		padding: 0 5px;
		border-top: 1px solid #ddd;
		border-left: 1px solid #ddd;
		border-right: 2px solid #ccc;
		border-bottom: 2px solid #ccc;
		}
	var
		{
		font-style: italic;
		}
	abbr, acronym
		{
		cursor: help;
		}

/* ********************************************** */
/* フォーム */

	form p,
	form ol,
	form ul,
	form dl,
	form address
		{
		margin: 0.8em 0;
		}
	fieldset
		{
		margin: 0;
		padding: 0 1em;
		border: 1px solid #ccc;
		}
	legend
		{
		color: #333;
		}

	/* テキストボックス */
	input
		{
		margin: 0.2em 0;
		}
	input[type="text"]
		{
		border: 1px solid #ccc;
		background-color: #ddd;
		color: #333;
		}
	input[type="checkbox"],
	input[type="radio"],
	input[type="button"],
	input[type="submit"],
	input[type="reset"],
	input[type="image"]
		{
		cursor: pointer;
		}
	textarea
		{
		margin: 0.2em 0;
		border: 1px solid #ccc;
		background-color: #ddd;
		color: #333;
		}
	select
		{
		margin: 0.2em 0;
		}

	/* ボタン */
	button
		{
		cursor: pointer;
		}

/* ********************************************** */
/* テーブル */

	table
		{
		border-collapse: collapse;
		border: 5px solid #ddd;
		}
	caption
		{
		text-align: center;
		}
	th
		{
		padding: 5px;
		border-left: 1px solid #cfc;
		border-bottom: 1px solid #cfc;
		background-color: #696;
		font-weight: normal;
		}
	td
		{
		padding: 5px;
		border-left: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		background-color: #eee;
		}

/* ********************************************** */
/* レイアウト */

	div#PAGETOP
		{
		margin: 0 auto;
		background: #f6f6f6 url(img/border_r.gif) repeat-y right top;
		}
	div#PAGETOP hr
		{
		display: none;
		}

	div#HEADER
		{
		padding: 5px 160px 0 0;
		background: url(img/border_t.gif) repeat-x left top;
		}
	ul#PAN
		{
		display: none;
		}

	div#MENU
		{
		float: right;
		width: 150px;
		margin-right: 5px;
		padding-top: 5px;
		background: url(img/border_t.gif) repeat-x left top;
		}
	div#MENU h2
		{
		margin: 0;
		background-color: #111;
		background-repeat: no-repeat;
		background-position: left bottom;
		text-align: center;
		color: #ccc;
		font-size: medium;
		}
	div#MENU ul
		{
		margin: 0;
		padding: 15px 10px 0;
		background: url(img/border_t.gif) repeat-x left top;
		}
	div#MENU li
		{
		list-style-type: none;
		margin: 0 0 5px;
		}
	div#MENU a
		{
		display: block;
		text-align: center;
		text-decoration: none;
		}
		div#MENU a:link,
		div#MENU a:visited
			{
			border: 1px #222 solid;
			background-color: #111;
			color: #ccc;
			}
		div#MENU a:hover,
		div#MENU a:active,
		div#MENU a:focus
			{
			border: 1px #666 solid;
			background-color: #222;
			color: #ffc;
			}
		div#MENU li.menu-on a:link,
		div#MENU li.menu-on a:visited
			{
			border: 1px #666 solid;
			background-color: #111;
			color: #ffc;
			}

		div#MENU li.menu-on a:hover,
		div#MENU li.menu-on a:active,
		div#MENU li.menu-on a:focus
			{
			border: 1px #666 solid;
			background-color: #222;
			color: #ffc;
			}

	div#KIZI
		{
		margin-right: 160px;
		background: url(img/border_l.gif) repeat-y left top;
		}
	div#KIZI h2
		{
		margin: 0 0 0 5px;
		padding: 5px 20px 0;
		background: url(img/border_t.gif) repeat-x left top;
		text-align: right;
		line-height: 2em;
		}
	div.text
		{
		margin-left: 5px;
		padding: 5px 0 0.2em;
		background: url(img/border_t.gif) repeat-x left top;
		}
	ul.modori
		{
		margin: 0;
		}
	ul.modori li
		{
		list-style-type: none;
		margin: 0;
		text-align: center;
		}
	ul.modori a
		{
		font-weight: bold;
		}
		ul.modori a:link,
		ul.modori a:visited
			{
			color: #666;
			}
		ul.modori a:hover,
		ul.modori a:active,
		ul.modori a:focus
			{
			color: #999;
			}

	div#FOOTER
		{
		clear: both;
		padding: 0 160px 5px 0;
		background: url(img/border_t.gif) repeat-x left bottom;
		}
	div#FOOTER h2
		{
		display: none;
		}
	div#FOOTER ul
		{
		margin: 0;
		padding: 0.5em 20px 0.5em 25px;
		background: url(img/border_l.gif) repeat-y left top;
		}
	div#FOOTER li
		{
		display: inline;
		list-style-type: none;
		margin: 0 0.5em 0 0;
		}

}